[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/roxo"]
	path = themes/roxo
	url = git@github.com:StaticMania/roxo-hugo.git
